---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bienvenidos">
  <main class="px-5 w-full mt-4 ">
		<h1 class="font-bold text-3xl md:text-6xl w-full text-center">Diseña tu <span class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-20% via-primary via-30% to-green-600">Pagina Web</span> con nosotros!</h1>
    <section
      class="text-sm lg:text-lg md:grid md:grid-cols-2 md:grid-rows-2 md:gap-2 mt-4"
    >
      <div class="h-60 flex items-center justify-center my-3">
        <img src="/web1.jpg" alt="desarrollo web" class="h-full rounded-lg hover:-rotate-6" />
      </div>
      <div class="h-60 flex flex-col items-center mt-1">
        <p class="">
          ¡Bienvenidos al mundo de las oportunidades en línea para tu negocio!
          Estamos listos para llevar tu empresa al siguiente nivel digital.
          Imagina una presencia en línea que no solo sea atractiva a la vista,
          sino que también genere resultados tangibles: aumentando tu
          visibilidad, atrayendo nuevos clientes y ampliando tus horizontes
          comerciales.
        </p>
        <a href="/services" class="text-md border-b-2 border-primary p-2 self-center hover:border-2 ">Ver servicios</a>
      </div>
      <div class="h-60 flex flex-col items-center mt-1">
        <p class="">
          Con nuestra experiencia en diseño web de vanguardia y enfoque centrado en
          el usuario, estamos aquí para convertir tus ideas en una realidad
          digital cautivadora. Juntos, crearemos una página web única que
          refleje la esencia de tu negocio y te ayude a destacar en un mundo en
          constante evolución. ¡Permítenos acompañarte en este emocionante viaje
          hacia el éxito en línea!
        </p>
        <a href="/contact" class="text-md border-b-2 border-primary p-2 self-center hover:border-2 ">Escribenos</a>
      </div>
      <div class="sm:h-60 flex items-center justify-center mt-1">
        <img src="/web2.png" alt="desarrollo web 2" class="w-full sm:w-auto sm:h-full rounded-lg hover:scale-105" />
      </div>
    </section>
  </main>
</Layout>
