---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Servicios">
  <main class="px-5 w-full mt-2 ">
		<h1 class="font-bold text-3xl md:text-5xl w-full text-center">Servicios</h1>
    <section
      class="text-sm lg:text-lg md:grid md:grid-cols-2 md:grid-rows-2 md:gap-2 mt-4"
    >
      <div class="h-60 flex items-center justify-center my-3">
        <img src="/web1.jpg" alt="desarrollo web" class="h-full rounded-lg hover:-rotate-6" />
      </div>
      <div class="h-60 flex flex-col items-center mt-1 rounded-lg border border-primary p-5">
				<h2 class="font-bold text-left text-2xl border-b-2 border-primary">Landing Page</h2>
        <p class="">
          Pagina web informativa en la cual podras dar a conocer tu negocio, a que te dedicas y como puedes ofrecer tus servicios, con pagina de contacto y boton de whatsapp.
        </p>
        <a href="/" class="text-md border-b-2 border-primary p-2 self-center hover:border-2 ">Ver Ejemplo</a>
      </div>
      <div class="h-60 flex flex-col items-center mt-1 rounded-lg border border-primary p-5">
				<h2 class="font-bold text-left text-2xl border-b-2 border-primary">E-commerce Page</h2>
        <p class="">
          Tu propia tienda online con carrito de compras y administración de productos, ofrece tus productos online y genera un impacto positivo en tus clientes.
        </p>
        <a href="/" class="text-md border-b-2 border-primary p-2 self-center hover:border-2 ">Ver Ejemplo</a>
      </div>
      <div class="sm:h-60 flex items-center justify-center mt-1">
        <img src="/web2.png" alt="desarrollo web 2" class="w-full sm:w-auto sm:h-full rounded-lg hover:scale-105" />
      </div>
    </section>
  </main>
</Layout>